<link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
<div class="page">
  <div class="container">
    <div class="page-header">
      <h1>UrbanLviv</h1>
      <h2>Make Your City Better</h2>
    </div>
    <div class="login-form">
      <h3 class="error-message" id="error" style="display: none;">Wrong email or password</h3>
      <form class="search-bar-section">
        <input type="email" class="search-bar-1" placeholder="Email" aria-label="Search" id="email" >
      </form>
      <form class="search-bar-section">
        <input type="password" class="search-bar-2" placeholder="Password" aria-label="Search" id="password">
      </form>
      <div><h2>Forgot password</h2></div>
      <input type="submit" class="login-button" (click)="submitLogin()" value="Sing in"/>
      <h2>Didn`t have any account? <a [routerLink]="['/registration']" class="activity-ref">Sing up here</a></h2>
    </div>

  </div>
</div>


