
<link href='https://fonts.googleapis.com/css?family=Helvetica Neue' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>




<div class="body-section">
  <div class="title"><h1>Here is all information about you</h1></div>
  <div class="center">
    <div class="field-section">
      <div><h2>Email</h2></div>
      <div class="input-section">
        <form class="input-bar-section">
          <input type="email" class="input-bar-1" placeholder="{{userService.user.email}}" id="email" >
        </form>
      </div>
    </div>
    <div class="field-section">
      <div><h2>First Name</h2></div>
      <div class="input-section">
        <form class="input-bar-section">
          <input type="text" class="input-bar-1" placeholder="{{userService.user.firstName}}" id="first-name">
        </form>
      </div>
    </div>
    <div class="field-section">
      <div><h2>Last Name</h2></div>
      <div class="input-section">
        <form class="input-bar-section">
          <input type="text" class="input-bar-1" placeholder="{{userService.user.lastName}}" id="last-name">
        </form>
      </div>
    </div>
    <div class="field-section">
      <div><h2>Phone number</h2></div>
      <div class="input-section">
        <form class="input-bar-section">
          <input type="text" class="input-bar-1" placeholder="{{userService.user.number}}" id="number">
        </form>
      </div>
    </div>
    <div class="field-section">
      <div><h2>Password</h2></div>
      <div class="input-section">
        <form class="input-bar-section">
          <input type="password" class="input-bar-1" placeholder="{{userService.user.password}}" id="password">
        </form>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="submit-button">Change Info</div>

  </div>
</div>
